@font-face {
  font-family: "iconfont"; /* Project id 5093967 */
  src: url('iconfont.woff2?t=1766288256886') format('woff2'),
       url('iconfont.woff?t=1766288256886') format('woff'),
       url('iconfont.ttf?t=1766288256886') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e75d";
}

.icon-user:before {
  content: "\e6bc";
}

.icon-star:before {
  content: "\e61e";
}

.icon-trash:before {
  content: "\e654";
}

.icon-close:before {
  content: "\e62d";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-bell:before {
  content: "\e74a";
}

.icon-calendar:before {
  content: "\e60f";
}

.icon-heart:before {
  content: "\e60a";
}

.icon-camera:before {
  content: "\e667";
}

.icon-download:before {
  content: "\e66c";
}

.icon-edit:before {
  content: "\e7e4";
}

.icon-mail:before {
  content: "\e618";
}

.icon-arrow-left:before {
  content: "\ed4e";
}

.icon-settings:before {
  content: "\e615";
}

.icon-arrow-right:before {
  content: "\e657";
}

.icon-search:before {
  content: "\e626";
}

.icon-check:before {
  content: "\e9b0";
}

