.modal-backdrop {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

.modal {
  z-index: 1050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  .modal-dialog {
    position: relative;
    margin: 60px auto;
    max-width: 680px;

    .modal-content {
      position: relative;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #999;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 6px;
      box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
      outline: 0;

      .modal-header {
        padding: 16px;
        border-bottom: 1px solid #e5e5e5;

        .modal-title {
          margin: 0;
        }

        .modal-close {
          float: right;
          margin-top: -20px;
          padding: 0;
          line-height: 1;
          background: 0 0;
          color: #000;
          font-size: 20px;
          font-weight: 700;
          text-shadow: 0 1px 0 #fff;
          border: 0;
          appearance: none;
          filter: alpha(opacity=20);
          opacity: .2;
          cursor: pointer;

          &:focus,
          &:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5
          }
        }
      }

      .modal-body {
        position: relative;
        padding: 16px
      }
    }
  }
}
